* {
  box-sizing: border-box;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(211, 220, 223);
  color: rgb(75, 75, 71);
  padding-bottom: 25px;
  margin-bottom: 25px;
}
/* Navigation */
div a {
  padding-left: 200px;
}


h1{
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
    margin:10px;
    text-align: center;
    border-bottom: crimson 5px;
  }
  hr {
      height: 4px;
      background-color: rgb(224, 64, 64);
     }

h2{
    font-family: 'Prompt', sans-serif;

    font-size: 30px;
    margin: 10px;
  }
  
img{
  width: 
  300px;
}  

.column {
  float: left;
  padding: 30px;
  height: 300px; 

.divBio {
width: 30%;
} 


.row:after {
  content: "";
  display: table;
  clear: both;
}

