<<<<<<< HEAD
* { 
  box-sizing: border-box;
}
body {
  width: 900px;
  margin: 0 auto;
  background-color: rgb(211, 220, 223);
  color: rgb(75, 75, 71);
  padding-bottom: 25px;
  margin-bottom: 25px;
;
  }

h1{
    font-family: 'Prompt', sans-serif;
    font-size: 60px;
    margin:10px;
    text-align: center;
  }
  

h2{
    font-family: 'Prompt', sans-serif;

    font-size: 30px;
    margin: 10px;
  }
=======
div{
    text-align: center;
    background-color: rgb(92, 38, 38);
}
h1{
    text-align: center;
}
a:link {
    text-decoration: none;
    color: goldenrod;
}
a:visited {
    text-decoration: none;
    color: hotpink;
}
a:hover {
    color: indigo;
}
a:active {
    color: lawngreen;
}
header{
    text-align: center;
}
main{
    margin-top: 30%;
    text-align: center;
}
>>>>>>> d10ae7f66cf488fc4e8de44d47ee52ef18b85872
