*{
  box-sizing: border-box;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(211, 220, 223);
  color: rgb(12, 12, 11);
  padding-bottom: 25px;
  margin-bottom: 25px;
}
/* Navigation */
div a {
  padding-left: 200px;
}
/* greeting */
.label {
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    color: #ff3401;
    text-align: right;
  }
  
main {
    text-align: center;
  }
;
  }
  #submit, #name {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
  
    color: #ff3401;
  
    background-color: #867e7e;
    border: 2px solid #101010;
    border-radius: 5px;
    transition-duration: 1s;
  }
  #submit:hover {
  
    box-shadow: 0 0 10px #ff5e01;
  
  }
  /*button */
  .option:hover{
    animation: shadow-pulsehover 2s infinite;
    border-radius: 15px;
    margin: 0px 35px;
  }

h1{
    font-family: 'Prompt', sans-serif;
    font-size: 90px;
    margin:10px;
    text-align: center;
  }
  

h2{
    font-family: 'Prompt', sans-serif;

    font-size: 30px;
    margin: 10px;
  }
#intro {
     font-size: 20px;
     font-family: 'Prompt', sans-serif;
}
  
  img {
    margin-top: 75px;
    width: 250px;
    height: 250px;
    float:left;
    align-items: top;
  }