*{
  box-sizing: border-box;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(211, 220, 223);
  color: rgb(12, 12, 11);
  padding-bottom: 25px;
  margin-bottom: 25px;
}
/* Navigation */
div a {
  padding-left: 200px;
}
 
h1{
    font-family: 'Prompt', sans-serif;
    font-size: 90px;
    margin:10px;
    text-align: center;
  }
  hr {
    height: 4px;
    background-color: rgb(224, 64, 64);
   }

  h2{
    font-family: 'Prompt', sans-serif;
     font-size: 30px;
     margin: 10px;
  }
#intro {
     font-size: 20px;
     font-family: 'Prompt', sans-serif;
}
 /*  */
  
img {
    margin-top: 75px;
    width: 250;
    height: 250px;
    float: left;
    align-items: top;
    padding-left: 20px;
  }